<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unisa.personalTrainer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.unisa.personalTrainer.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.ExcercisesFragment"
            android:label="@string/title_activity_chat_fragment" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.SettingsFragment"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="dieta.DietaFragment"
            android:label="@string/title_activity_dieta" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.AllenamentoFragment"
            android:label="@string/title_activity_allenamento_fragment" >
        </activity>
       
        <activity
            android:name="it.unisa.personalTrainer.AbdominalActivity"
            android:label="@string/title_activity_abdominal">
        </activity>
        <activity
            android:name="adduttori_abductori.AddAbducActivity"
            android:label="@string/title_activity_abdominal">
        </activity>
        <activity
            android:name="femorali.FemoralActivity"
            android:label="@string/title_activity_abdominal">
        </activity>
        <activity
            android:name="pettorali.PectoralActivity"
            android:label="@string/title_activity_abdominal">
        </activity>
         <activity
            android:name="polpacci.PolpacciActivity"
            android:label="@string/title_activity_abdominal">
        </activity>
         <activity
            android:name="quadricipiti.QuadricipitiActivity"
            android:label="@string/title_activity_abdominal">
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.DeltoidiActivity"
            android:label="@string/title_activity_abdominal" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.BicipitiActivity"
            android:label="@string/title_activity_abdominal">
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.TricepsActivity"
            android:label="@string/title_activity_abdominal">
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.DorsaliActivity"
            android:label="@string/title_activity_abdominal" >
        </activity>
         <activity
            android:name="glutei.GluteiActivity"
            android:label="@string/title_activity_abdominal" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.SubMenu3Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="pettorali.SubMenu1Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="pettorali.SubMenu2Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
          <activity
            android:name="pettorali.SubMenu3Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="adduttori_abductori.SubMenu2Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="quadricipiti.SubMenu6Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
         <activity
            android:name="quadricipiti.SubMenu3Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="quadricipiti.SubMenu4Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="quadricipiti.SubMenu2Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
         <activity
            android:name="polpacci.SubMenu1Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="polpacci.SubMenu2Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
         <activity
            android:name="glutei.SubMenu1Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="femorali.SubMenu1Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
         <activity
            android:name="femorali.SubMenu2Activity"
            android:label="@string/title_activity_sun_menu3"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        
        <activity
            android:name="diario.DiaryFragment"
            android:label="@string/title_activity_meet_fragment" >
        </activity>
        <activity
            android:name="registrazione.RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name="registrazione.Reg1Fragment"
            android:label="@string/title_activity_reg2_fragment" >
        </activity>
        <activity
            android:name="registrazione.Reg2Fragment"
            android:label="@string/title_activity_reg2_fragment" >
        </activity>
        <activity
            android:name="registrazione.Reg3Fragment"
            android:label="@string/title_activity_reg2_fragment" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dieta.DietaAumentoM"
            android:label="@string/title_activity_dieta_aumento_m" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.AllenamentoActivity"
            android:label="@string/title_activity_allenamento" >
        </activity>
        <activity
            android:name="dieta.DietaDim"
            android:label="@string/title_activity_dieta_aumento_m" >
        </activity>
        <activity
            android:name="dieta.DietaRass"
            android:label="@string/title_activity_dieta_aumento_m" >
        </activity>
        <activity
            android:name="dieta.DieteActivity"
            android:label="@string/title_activity_dieta_aumento_m" >
        </activity>
        <activity
            android:name="dieta.DieteConsRassActivity"
            android:label="@string/title_activity_dieta_aumento_m" >
        </activity>
        <activity
            android:name="dieta.DieteConsDimActivity"
            android:label="@string/title_activity_dieta_aumento_m" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.ProblemActivity"
            android:label="@string/title_activity_problem" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.SchedaFragment"
            android:label="@string/title_activity_scheda_fragment" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.AddSchedaActivity"
            android:label="@string/title_activity_scheda_fragment" >
        </activity>
        <activity
            android:name="it.unisa.personalTrainer.SchedaActivity"
            android:label="@string/title_activity_scheda" >
        </activity>
    </application>

</manifest>
