<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unisa.personaltrainer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.unisa.personaltrainer.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.MenuActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.DietActivity"
            android:label="@string/title_activity_progress" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.SettingsActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.DiaryActivity"
            android:label="@string/title_activity_diary" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.ExcercisesActivity"
            android:label="@string/title_activity_excercises" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.AllenamentoActivity"
            android:label="@string/title_activity_allenamento" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.ProblemActivity"
            android:label="@string/title_activity_problem"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.GambeActivity"
            android:label="@string/title_activity_gambe"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.AbdominalActivity"
            android:label="@string/title_activity_abdominal"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.PectoralActivity"
            android:label="@string/title_activity_pectoral"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.DeltoidiActivity"
            android:label="@string/title_activity_deltoidi"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.BicipitiActivity"
            android:label="@string/title_activity_bicipiti"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.TricepsActivity"
            android:label="@string/title_activity_triceps"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="dorsali.DorsaliActivity"
            android:label="@string/title_activity_dorsali"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.DietaRActivity"
            android:label="@string/title_activity_dieta_r"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="dorsali.Lat_machineActivity"
            android:label="@string/title_activity_lat_machine"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.unisa.personaltrainer.VideoActivity"
            android:label="@string/title_activity_video" 
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity
            android:name="dorsali.Pulley_bassoActivity"
            android:label="@string/title_activity_lat_machine"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="dorsali.VideoLatActivity"
            android:label="@string/title_activity_video_lat" >
        </activity>
        <activity
            android:name="dorsali.SubMenuActivity"
            android:label="@string/title_activity_video_lat" 
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
    </application>

</manifest>
